<!DOCTYPE html>
<head>
	<html lang="en">
	<link rel="stylesheet" href="../c/resume.css">
	<meta charset="UTF=8">
	<meta name="description" content="kathryn de la rosa's CV">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- icon html from https://css-tricks.com/emojis-as-favicons/ -->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐈‍⬛</text></svg>">
	<title>{{ title }}</title>
</head>
</html>
<body>
	{{ content }}
</body>
