@font-face
	font-family: 'Iosevka Web'
	font-display: swap
	font-weight: 500
	font-stretch: normal
	font-style: normal
	src: url('../f/Iosevka-Medium.woff2') format('woff2')

@font-face
	font-family: 'Iosevka Web'
	font-display: swap
	font-weight: 800
	font-stretch: normal
	font-style: normal
	src: url('../f/Iosevka-ExtraBold.woff2') format('woff2')

@font-face
	font-family: 'Iosevka Web'
	font-display: swap
	font-weight: 500
	font-stretch: normal
	font-style: italic
	src: url('../f/Iosevka-Italic.woff2') format('woff2')
